{% load static %}


<!DOCTYPE >
<html>
 <head>
   <title>!DOCTYPE</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
   <script></script>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
 <body>
    <div class="wrapper"><div id="noise"></div>
       <h1 id="h">Secret Note</h1>
        <form action="/add_note" method="post">
            {% csrf_token %}
            <textarea type="text" id="textarea" name="text" required="required"></textarea>
            <button type="submit" id="submit" name="submit" style="margin-top: 15px;">Save note</button>
        </form>
    </div>
    <script>
        const h1 = document.getElementById("h")

        const setShadow = () => {
            let displace = 0.2 + Math.random() * 1.7
            const shadow = `${displace}px 0px 1px rgba(0, 70, 255, 0.6), ${-displace}px 0px 1px rgba(255, 50, 0, 0.6), 0 0 4px`
            document.body.style.textShadow = shadow;
        }

        setShadow();
        setInterval(setShadow, 40)
    </script>
 </body> 
</html>
